<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find innfos_control)/gazebo_control/config/map_v2.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <arg name="odom_topic" default="odom" />

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find innfos_control)/gazebo_control/launch/amcl.launch">
    <arg name="initial_pose_a" default="1.57"/>
  </include>

  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find innfos_control)/gazebo_control/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find innfos_control)/gazebo_control/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find innfos_control)/gazebo_control/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find innfos_control)/gazebo_control/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find innfos_control)/gazebo_control/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find innfos_control)/gazebo_control/param/dwa_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find innfos_control)/gazebo_control/rviz/navigation.rviz"/>
  </group>
</launch>
