<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="room_gazebo" >

  <gazebo reference="door_link">
    <material>Gazebo/Orange</material>
    <minDepth>0.001</minDepth>
  </gazebo>

  <gazebo reference="hand_link">
    <material>Gazebo/Blue</material>
      <mu1>1000</mu1>
      <mu2>1000</mu2>
      <minDepth>0.001</minDepth>
  </gazebo>

  </xacro:macro>

</robot>
