<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_description" >
<xacro:include filename="$(find innfos_control)/gazebo_control/models/arm.urdf.xacro" />
<xacro:arm prefix="arm"/>

<xacro:include filename="$(find innfos_control)/gazebo_control/models/turtle.urdf.xacro" />
<xacro:turtle prefix="turtle"/>

<joint name="connent_joint" type="fixed">
    <parent link="base_footprint" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 3.14" />
</joint>

<xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" />

<xacro:robotiq_85_gripper prefix="" parent="link6" >
        <origin xyz="0 0 0" rpy="0 -1.57 0"/>
</xacro:robotiq_85_gripper>

</robot>
